<div class="col-md-12">
    <h2>Launcher Settings</h2>
    <form class="form-inline">
        <input class="form-control" type="text" placeholder="User ID" ng-model="userId" ng-init="userId = 'TOOLBOX\\travis'" />
        <input class="form-control" type="text" placeholder="TFS URL" ng-model="tfsUrl" ng-init="tfsUrl = 'http://qtitfs03:8080/tfs/DefaultCollection'" />
        <div class="btn btn-warning" ng-click="createSubscription(userId, tfsUrl)">Create TFS Subscription If Not Exists</div>
    </form>
</div>
<div class="col-md-12">
    <p class="text-success">{{results}}</p>
</div>