@using System.Web.UI.WebControls

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Login</title>
</head>
<body>
    <div>
        @using (Html.BeginForm())
        {
            <span>Login Name:</span>
            <input type="password" value="" name="loginName" />
            <button type="submit">Login</button>
        }
    </div>
</body>
</html>
